.default-decoration.titlebar:not(headerbar), headerbar.default-decoration { padding-right: 0px; padding-top: 0px; }

button.close { border-radius: 0px; padding-top: 4px; padding-right: 4px; }
button.minimize { border-radius: 0px; padding-top: 4px; }
button.maximize { border-radius: 0px; padding-top: 4px; }
